{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguagueFormatting": "auto",
  "endOfLine" : "lf",
  "semi": false,
  "tabWidth": 2,
  "traillingComa": "none",
  
  "singleQuote": true,
  "trailingComma": "none"
}